flask
flask-socketio
eventlet
gunicorn
razorpay
firebase-admin
python-dotenv
mediapipe
opencv-python
numpy
requests
mimetypes-utils
urllib3<2.0.0
google-auth
google-cloud-firestore
google-cloud-storage
google-api-core
google-auth-oauthlib
google-auth-httplib2
proto-plus
